.page__body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: $main-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
