.page {
  position: relative;
  height: 100%;

  .page__links {
    margin-left: 30px;
  }
}

.page__body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: $body-color;
  font-family: $main-font;
}

.page__main {
  height: 100%;
}

img {
  display: block;
  width: auto;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
