//fonts

$main-font: "Roboto", "Arial", sans-serif;

//colors

$body-color: #201F2E;

//font-color

$white: #FFFF;
$grey: #C4C1CF;
$black: #0E0D13;

//backgrounds
$back-grey: #E5E5E5;
$button-color: #44414E;


