//fonts

$main-font: "Roboto", "Arial", sans-serif;

//colors

$body-color: #201f2e;

//font-color

$white: #ffffff;
$grey: #c4c1cf;
$black: #0e0d13;
$grey-light: #e9e6f2;
$red: #ff005c;

//backgrounds
$back-grey: #e5e5e5;
$button-color: #44414e;
$button-active: #353240;
$rgba-header: rgba(32, 31, 46, 0);

//display

$display-tablet: 768px;
$display-desktop: 1024px;

// images

$decor: url("data:image/svg+xml,%3Csvg width='384' height='203' viewBox='0 0 384 203' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.5 136.243C5.5 124.743 -18 92.7434 -26 45.2434L-41 0.243414H535.5C544.667 -1.92325 470 45.2434 441 111.5C409.518 183.426 337.5 196.243 296 202.243C254.5 208.243 155.5 147.743 80.5 136.243Z' fill='%23201F2E'/%3E%3C/svg%3E%0A");
