.card-description {
  min-height: 400px;
  background-image: url("../img/blackberry-detail-mobile.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 32px;
}

.card-description__back {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-color: $button-color;
  outline: none;
}

.card-description__logo {
  margin-left: 25px;
  margin-top: 20px;
}

.card-description__info {
  position: absolute;
  background-image: $decor;
  background-color: $black;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 32px;
  transform: translate(0, 50%);
  bottom: -200px;
  left: 0;
  padding-top: 32px;
  min-height: 600px;
  width: 100%;
}

.card-description__subtitle {
  color: $white;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;

  &--cook {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
  }
}

.card-description__text {
  display: block;
  line-height: 21px;
  color: $grey;
  margin-bottom: 32px;
}

.card-description__list {
  width: 100%;
  margin-bottom: 32px;
}

.card-description__item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;

  td {
    font-size: 18px;
    line-height: 21px;
    color: $grey;
  }

  td:first-child {
    position: relative;
    display: flex;
    flex-grow: 1;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      margin: 5px 5px;
      border-bottom: 1px dashed $grey;
    }
  }
}

.card-description__recipe {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: $grey;
  text-align: start;
}

.card-description__button {
  top: -10px;
  right: 20px;
}
