.nav__list {
  @include clear-list;
  display: flex;


  @media (min-width: $display-tablet) {
    min-width: 384px;
  }
}

.nav__button {
  color: $grey;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  font-family: $main-font;

  &:hover,
  &:focus {
    outline: 1px solid $grey;
    border-radius: 32px;
  }
}
