.search {
  background-color: $black;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  min-height: 96px;
}

.search__link-favourite {
  display: block;
  margin: 0;
  color: $grey;
  background-color: $button-color;
  font-size: 18px;
  line-height: 17px;
  padding: 15px 24px;
  text-decoration: none;
  border-radius: 32px;

  &:active {
    background-color: $button-active;
    color: $grey-light;
  }

  &:focus {
    outline: none;
    border: solid 1px $red;
    color: $red;
  }
}

.search__button {
  padding: 14px;
}

.search__input {
  border-radius: 32px;
  border: none;
  outline: none;
  font-size: 18px;
  color: $grey;
  padding: 15px;
  background-color: $button-color;
  &--index {
    display: none;
  }
}
